@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        @* Layout = (string)parentLayout; *@
        Layout = "crud";
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container">
    <h2 class="title-light">Gerenciamento de Perfil</h2>

    <div>
        <hr />
        <div class="row" style="display: flex; gap: 60px;">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
@RenderSection("Scripts", required: false)
}
