:root {
	--color-title: #262626;
	--color-title1: #fff;
	--color-subtitle: #a62940;
	--color-bg: #fbf2c0;
	--color-footer: #bf8069;

	--color-preto: #262626;
	--color-branco: #fff;
	--color-marron: #43281c;
	--color-grena: #a62940;
	--color-creme: #fbf2c0;
	--color-maltesse: #bf8069;
	--color-roxo: #400135;
	--color-preto2: #261f1d;
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

main {
	padding: 2rem 0;
	margin-top: 75px;
	background-color: var(--color-bg);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23bf8069' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Denuncia */

.denuncia__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.denuncia__content {
	width: 600px;
	min-width: 200px;
	padding: 1.5rem;
}

.denuncia__form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form_inputs {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	font-size: 1.2rem;
	overflow: hidden;
}
.form_inputs-nome {
	width: 550px;
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--color-preto);
	outline-color: var(--color-grena);
}
.form_inputs-data {
	width: 250px;
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--color-preto);
	outline-color: var(--color-grena);
}
.form_select {
	width: 200px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--color-preto);
	outline-color: var(--color-grena);
}
.form_relato {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

#textarea {
	width: 100%;
	height: 200px;
	resize: none;
	padding: 1em;
	outline-color: var(--color-grena);
}

.denuncia__btns {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.denuncia__btns-btn {
	border: none;
	outline: none;
	padding: 0.6rem;
	background: var(--color-maltesse);
	color: var(--color-bg);
	border-radius: 0.5rem;
}

.denuncia__btns-btn:hover {
	padding: 0.6rem;
	background: var(--color-preto);
	color: var(--color-bg);
	border-radius: 0.5rem;
}
