@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="div-size">
    @* <div asp-validation-summary="All" class="text-danger"></div> *@
   
    
            <div class="form-group">
                <label asp-for="Input.Nome" class="loginCadastro__label"></label>
                <input asp-for="Input.Nome" class="input-control form-control"/>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
      
        
            <div class="form-group">
                <label asp-for="Input.Sobrenome" class="loginCadastro__label"></label>
                <input asp-for="Input.Sobrenome" class="input-control form-control"/>
                <span asp-validation-for="Input.Sobrenome" class="text-danger"></span>
            </div>
        
   
    
            <div class="form-group">
                <label asp-for="Input.Email" class="loginCadastro__label"></label>
                <input asp-for="Input.Email" class="input-control form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
    
   
        
            <div class="form-group">
                <label asp-for="Input.Password" class="loginCadastro__label">Senha</label>
                <input asp-for="Input.Password" class="input-control form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        
        
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="loginCadastro__label">Confirmar senha</label>
                <input asp-for="Input.ConfirmPassword" class="input-control form-control"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
         </div>
   
    <div class="group">
    <p>Para maiores informações acesse nossa
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de
            Privacidade</a> e nossos <a asp-area="" asp-controller="Home" asp-action="Termos">Termos de Uso</a>.</p>
        <button type="submit" class="btn btn-block fix-button">Criar Conta</button>
    </div>
    
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
